div{
    background-color: cadetblue;
}

.card{
    width: 500px;
    background-color:tan;
    text-align: center;
}
#dish-name1{
    color:white;
}
#dish-name2{
    color:white;
}
#dish-name3{
    color:white;
}